
<div class="container">
  <div class="filters">
    <h2>Filter & Search</h2>
    <div class="filter-group">
      <label for="search">Search Name:</label>
      <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="searchName()" placeholder="Search" />
    </div>
    <div class="filter-group">
      <label for="search">Search Description:</label>
      <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="searchDescription()" placeholder="Search" />
    </div>
    <div class="search-container">
      <select
        [(ngModel)]="selectedIngredient"
        (change)="filterRequests()"
        class="form-select me-2"
      >
        <option [ngValue]="null">All Ingredients</option>
        <option *ngFor="let ingredient of ingredients" [ngValue]="ingredient">
          {{ ingredient.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="content">
    <h2>Available Requests</h2>

    <div class="request-list">
      <div class="request-card" *ngFor="let request of filteredRequests" [routerLink]="['/request', request.id]" >
        <img [src]="request.imageUrl || 'https://via.placeholder.com/300x200'" />
        <h3>{{ request.name }}</h3>
        <p>{{ request.description }}</p>
        <div class="ingredients">
          <span class="ingredient" *ngFor="let ingredient of request.ingredients">
            {{ ingredient.name }}
          </span>
        </div>
        <a  [routerLink]="['/request', request.id]" class="btn btn-dark">View Details</a>
      </div>
    </div>
  </div>
</div>
