
<nav>
  <div class="container py-2">
      <div class="row">
          <div class="col-6">
              <a [routerLink]="'/'" class="logo">
                  <span class="text-primary logo-food">Food</span>
                  <span class="logo-food">food</span>
              </a>
          </div>
          <a [routerLink]="'/request-list'" class="btn btn-outline-primary">
            Request-list
          </a>

          <div class="col-6 text-end mt-2">
              <div *ngIf="authService.isLoggedIn">
                  <div *ngIf="authService.currentUser" class="mx-2 d-inline">
                      &nbsp;
                      <span
                          >Hello,
                          {{ authService.currentUser.foodUserName }}</span
                      >
                      <button class="btn btn-link" (click)="logout()">
                          Logout
                      </button>
                  </div>
                  <a [routerLink]="'/create-request'" class="btn btn-outline-primary">
                      Create-request
                    </a>

                  <a [routerLink]="'/user-profile'" class="btn btn-outline-primary">
                    User-profile
                  </a>


              </div>
              <div *ngIf="!authService.isLoggedIn">
                  <a
                      [routerLink]="'/login'"
                      class="btn btn-outline-primary"
                  >
                      Log in&nbsp;/&nbsp;Sign up
                  </a>
              </div>
          </div>
      </div>
  </div>
</nav>
