<div class="container">
  <div class="request-details">
    <img [src]="request.imageUrl || 'https://via.placeholder.com/300x200'" />
    <h2>{{ request.name }}</h2>
    <p>{{ request.description }}</p>
    <div class="ingredients">
      <span class="ingredient" *ngFor="let ingredient of ingredients">
        {{ ingredient.name }}
      </span>
    </div>
  </div>

  <div class="actions">
    <button *ngIf="isRequestOwner" (click)="editRequest(request)">Edit Request</button>
    <button (click)="makeOffer(request)">Make an Offer</button>
  </div>

  <div>
    <button (click)="createOffer()">New Offer</button>


  </div>


  <div class="offers" *ngIf="isRequestOwner">
    <h2>Offers</h2>
    <div class="offer" *ngFor="let offer of offers">
      <p>{{ offer.id }}</p>
      <button (click)="acceptOffer(offer)">Accept Offer</button> <!-- Add the argument 'offer' here -->
    </div>
  </div>

  <div class="comments">
    <h2>Comments</h2>
    <div class="comment" *ngFor="let comment of comments">
      <p>{{ comment.text }}</p>
      <span class="author">By: {{ comment.id }}</span>
    </div>
    <textarea [(ngModel)]="newComment" placeholder="Add a comment..."></textarea>
    <button (click)="addComment(request, newComment)">Submit</button>
  </div>
</div>
